In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import first
from pyspark.sql.types import IntegerType, StringType
from typedspark import Column, Schema, create_partially_filled_dataset, create_schema

spark = SparkSession.builder.getOrCreate()

class A(Schema):
    id: Column[IntegerType]
    key: Column[StringType]
    value: Column[StringType]

df = (
    create_partially_filled_dataset(
        spark, 
        A, 
        {
            A.id: [1, 1, 1, 2, 2, 2, 3, 3, 3],
            A.key: ["a", "b__", "c", "a", "b!!", "c", "a", "b!!", "c"], 
            A.value: ["alpha", "beta", "gamma", "alpha", "beta", "gamma", "alpha", "beta", "gamma"]
        }
    )
    .groupby(A.id)
    .pivot(A.key.str)
    .agg(first(A.value))
)

df, MySchema = create_schema(df, "A")
MySchema

ImportError: cannot import name 'create_schema' from 'typedspark' (/Users/nanneaben/Documents/projects/2022/typedspark/typedspark/__init__.py)